**Exercise 01** 

- Write code to find which city has more clients NJ or NY?

```
clients=[['james','NJ'],['mike','NJ'],['linda','NY'],['sarah','NJ'],['yara','NY'],['robert','NJ'],
['sam','NY'],['zara','NJ'],['judi','NY'],['tara','NJ'],['ed','NY'],['muna','NJ'],['layan','NY'],
['taylor','NJ'],['susan','NJ'],['hala','NJ'],['shahd','NY'],['suha','NY'],['ziad','NY'],
['emad','NJ'],['tony','NY'],['juan','NJ']]

```

In [7]:
clients=[['james', 'Ankara'], ['mike', 'Ankara'], ['linda', 'Istanbul'], ['sarah', 'Ankara'], ['yara', 'Istanbul'],
         ['robert', 'Ankara'], ['sam', 'Istanbul'], ['zara', 'Ankara'], ['judi', 'Istanbul'], ['tara', 'Ankara'],
         ['ed', 'Istanbul'], ['muna', 'Ankara'], ['layan', 'Istanbul'], ['taylor', 'Ankara'], ['susan', 'Ankara'],
         ['hala', 'Ankara'], ['shahd', 'Istanbul'], ['suha', 'Istanbul'], ['ziad', 'Istanbul'], ['emad', 'Ankara'],
         ['ali', 'Istanbul'], ['juan', 'Ankara']]
## Your code here
count1=0
count2=0
for i in clients:
    if i[1]=='Ankara':
        count1=count1+1
    else:
        count2+=1
if count1>count2:
    print("Ankara en popüler şehir")
elif count1==count2:
    print("eşit sayıda var")
else:
    print("İstanbul en popüler şehir")

10

**Exercise 02** 

The following dictionary contains data about students. 
- Find all students of grade's average greater than 75?
- Find a list of unique courses names
- Find the name of the student with the highest grade in Programming
- Sort students names based on their grade in Science

In [ ]:
## Your code here
students={'james':{'Math':92,'Science':33,'Programming':56,'English':89},
          'linda':{'English':45,'Database':77,'Math':76,'Programming':82},
          'sarah':{'Programming':77,'Science':44,'Math':92},
          'yara':{'Math':91,'Database':62,'Programming':77,'Science':59},
          'robert':{'Geology':76,'Science':79},
          'sam':{'Math':71,'Science':75,'History':89},
          'zara':{'Math':56,'Science':66,'History':88, 'Marketing':87}}
x=students.values()
for i in x:
   a=i.values()
   for j in a:
        print(j)

In [ ]:
**Exercise 03**
```
Write a python code to find all of the numbers from 1-1000 that have a 3 in them
```

In [ ]:
### Your code here
three = [n for n in range(0,1000) if '3' in str(n)]
print(three)

**Exercise 04**
```
Given the following list of employees that contains: (employee_name, age, salary) of each employee: 

employees=[('james',20,3000),('mike',30,4500),('lara',25,2500),('alma',23,5000),('sedra',17,3500)]


Write a python code to find:

1- The minimum salary of employees older than 24 
2- Names of all employees with salary greater than average.

```

In [12]:
### Your code here
employees=[('james',20,3000),('mike',30,4500),('lara',25,2500),('alma',23,5000),('sedra',17,3500)]
#1-
minSalary=0
for i in employees:
    if i[1]>24:
        if minSalary==0:
            minSalary=i[2]
        elif i[2]<minSalary:
            minSalary=i[2]
print(minSalary)
#2-
avg=0
for i in employees:
    avg+=i[2]
avg=avg/len(employees)
for i in employees:
    if i[2]>avg:
        print(i[0])

<class 'SyntaxError'>: invalid syntax. Perhaps you forgot a comma? (<ipython-input-12-40b026b4ddb3>, line 11)